#root>div{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
}

.waiting{
  background-color: gray;
}

.start{
  background-color: lightcoral;
}

.click{
  background-color: lightgreen;
}

.error{
  background-color: lightblue;
}

p{
  text-align: center;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

li{
  margin: 0;
  padding: 0;
  list-style: none;
}